
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color:#ECECEA;
    line-height: 1.3;
}

.container {
    /*width: 90%;*/
    margin: auto;
}

/* == navigation starts == */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #558C89;
    display: block;
    width: 100%;
    position: fixed;
}

nav .active {
    background-color: #669794;
    color: white;
}

nav li {
    text-align: center;
    border-bottom: 1px solid #44706d;
    float: left;
    width: 25%;
    /*padding-bottom: 10px;*/
    font-weight: bold;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav li:hover {
    background-color: #88aeac;
}
/* == navigation ends == */


/* == welcome section starts == */
.welcome {
    width: 100%;
    float: left;
    margin-top: 37px;
    padding: 15px 20px 10px 20px;
    background: #dde8e7;
}

h1, h2, h3 {
    text-align: center;
    margin: 2px;
    padding: 2px;
}
/* == welcome section ends == */


/* == top section starts == */
.top {
    /*width: 100%;*/
    float: left;
    margin-top: -15px;
    margin-bottom: 7px;
    padding: 0px 20px 15px 20px;
    background: #dde8e7;
    border-bottom: 1px solid #bbd1cf;
    border-radius: 20px;
}

.left{
    float: left;
    width: 67%;
    margin: 10px;
    padding: 10px;
    font-size: 1.25em;
}

.right {
    width: 20%;
    float: left;
}

.img {
        float: left;
        height: 210px;
        border: 1px solid;
        border-radius: 10px;

}

/* == top section ends == */

.message {
    width: 100%;
    float: left;
    padding: 5px 20px 5px 20px;
    background: #ccdcdb;
    border-top: 5px;
    border-bottom: 5px solid #bbd1cf;
    border-radius: 10px;
}


/* == product_sample_1 starts == */
.product_sample {
    float: left;
    margin-top: 7px;
    margin-bottom: 3px;
    padding: 5px 0 10px 0;
    background: #f3f3f2;
    border: 1px solid #bbd1cf;
    border-radius: 10px;
}

.product_sample .left {
    margin-top: -10px;
}

.widget {
    background-color: #efefee;
    border-bottom: 1px solid #bbd1cf;
}

.product_sample .img {
    margin-top: 17px;
}
/* == product_sample_1 starts == */


 /*==== About Page ====*/
 /* == about_1 starts == */
 .about {
     float: left;
     margin: 7px 20px 3px 20px;
     padding: 5px 20px 10px 20px;
     background: #f3f3f2;
     border: 1px solid #bbd1cf;
     border-radius: 10px;
 }

 .about .left {
     margin-top: -10px;
 }

 .about .img {
     margin-top: 17px;
     margin-left: 30px;
 }
 /* == about_1 ends == */


 /*==== Contact Page ====*/
 /*Styling Forms*/

.contact_form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 30px;*/
    margin-bottom: 30px;
    /*padding-top: 30px;*/

}

label {
    font-weight: bold;
    color: #558C89;
    margin-top: 10px;
    /*margin-bottom: 0px;
    padding-top: 10px;*/
}

input, textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #bbd1cf;
    border-radius: 4px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: none;
}

input[type=submit] {
    background-color: #558C89;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
 /*==== Contact Page Ends====*/


 /*==== Widgets Page Starts====*/
 /*Styling Tables*/
 table {
     border-collapse: collapse;
     border: 1px solid #558C89;
     width: 80%;
     margin: auto;
     margin-bottom: 50px;
 }

table, th, td {
   border: 1px solid #bbd1cf;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #558C89;
    color: white;
}

td {
    vertical-align: bottom;
}

tr:hover {
    background-color: #f5f5f5
}

tr:nth-child(even) {
    background-color: #f2f2f2
}


 /*==== Widgets Page Ends====*/
